{% extends 'core/base.html' %}
{% block title %} Login {% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-12">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-7  mx-auto">

                            <!-- Login Form -->
                            <form class="account-form p-4 rounded" action="{% url 'users:forgotPassword' %}" method="post">

                                {% csrf_token %}
                                <h3 class="mb-4">Forgot Password? </h3>

                                {% if form.errors %}
                                <div class="alert alert-primary" role="alert">
                                    Error: Username or Password not correct!
                                </div>
                                {% endif %}

                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email Address" name="email" >
                                </div> <!-- form-group// -->

                               
                                <div class="d-grid gap-2">
                                    <input type="hidden" name="next" value="{{ next }}">
                                    <button class="btn btn-primary py-2 mb-4 mt-5 fw-bold" type="submit" value="Log-in">Summit</button>
                                </div>
                                
                            </form>

                            <p class="small text-center pt-4">
                               Got Password? <a href="{% url 'users:login' %}"> Login</a> 
                            </p>
                            <p class="small text-center">
                                <a href="{% url 'users:register' %}">Help Center?</a> 
                            </p>
                            
                            <!-- End Form -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}